<!DOCTYPE html>
<html>

<head>
    <title>Student_Show</title>
</head>

<body>
    <p><em><strong>Redirect</strong></em> to the site <a href="{% url 'redirect' %}">https://data-flair.training/blogs/django-tutorials-home</a></p>
    <h1>The Students Here at Dataflair</h1>
    <div>
        <ul>
            {% for stud in student %}
            <li>
                <h2>Name {{ stud.name }}</h2>
                <p> department {{ stud.department}}</p>
                <p> class {{ stud.standard}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>


</body>
</html>